@import "tailwindcss";

@font-face {
  font-family: myfont;
  src: url("/fonts/font.ttf");
}
html {
  scroll-behavior: smooth;
}

:root{
    --prim-color:#e1dcdc;
    --bg-color:#000000;
    --sec-color:#E8602E;
}






::-webkit-scrollbar {
  width: 8px;      /* vertical scrollbar */
  height: 7px;     /* horizontal scrollbar */
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.bg-img{
  background: url("team.png");
  background-repeat: no-repeat;
 background-size: cover;
}


/* PAge 404 CSS */
 
@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
 
@keyframes tilt {
  0%, 100% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
}
.animate-tilt {
  animation: tilt 6s ease-in-out infinite;
}
 
@keyframes fallTopLeft {
  0% { transform: translate(0, 0); opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { transform: translate(-100px, 100vh); opacity: 0; }
}
@keyframes fallTopRight {
  0% { transform: translate(0, 0); opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { transform: translate(100px, 100vh); opacity: 0; }
}
.animate-fall-topLeft {
  animation: fallTopLeft 5s linear infinite;
}
.animate-fall-topRight {
  animation: fallTopRight 5s linear infinite;
}
 
 
.bg-space {
  background: url("notfound.png")no-repeat center center/cover;
}
 
 
.ufo {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: float 6s ease-in-out infinite, tilt 6s ease-in-out infinite;
}



/* Use font in Text */

.textClass{
  font-family: myfont;
  
}


/* Animation for text scroll */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

/* Pause animation on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}

